.BeginersMain{
	background-color: none;
	font-size: 50px;
	text-align: center;
	margin: 0;
	color: white;
	padding: 20px;
	border-top: 2px rgb(0, 0, 0) solid;
	padding-top: 60px;
	background: #9bc3d1;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0f0e17, #c2d0ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0f0e17, #d5e2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.image-Beginers{
	height: 400px;
	width: 100%;
	border: 1px white solid;
	box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;

}
.pkg-Beginers{
	font-size: 30px;
	width: 100%;
	padding: 40px;
	padding-top: 0;
	text-align: left;
	color: rgb(255, 255, 255);
}
.pkg-Beginers > p{
	
	line-height: 1.6;
}
.heading-Beginers{
	
	font-weight: bolder;
}